{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Добавить новый фрейм</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.parent.label(class="form-control-label") }}
                    {% if form.parent.errors %}
                        {{ form.parent(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.role.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.parent(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-check">
                    {{ form.is_instance(class="form-check-input") }}
                    {{ form.is_instance.label(class="form-check-label") }}
                </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}